@import '../../themes/index.less';

.header {
  position: fixed;
  width: 100vw;
  z-index: 10;
  height: 50px;
  line-height: 50px;
  padding: 0 30px 0 50px;
  background-color: @primary-color;
  display: grid;
  grid-template-columns: 15% 72% 13%;
  .header_left_content {
    display: flex;
  }
  .header_right {
    height: 50px;
    line-height: 50px;
    .header_right_content {
      display: flex;
      align-items: center;
      justify-content: space-around;
      min-width: 100px;
      // .user_icon {
      //   cursor: pointer;
      // }
      .user_profile_content {
        span {
          color: #fff;
          cursor: pointer;
          max-width: 120px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .icon {
          color: #fff;
          position: relative;
          // top: 2px;
          // left: 5px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
