@import '../../themes/index.less';

.header {
  background-color: @primary-color;
  display: grid;
  grid-template-columns: 15% 75% 10%;
  position: fixed;
  width: 100vw;
  z-index: 1;
}
.header_title {
  margin-left: 10px;
}
.header_left_content {
  display: flex;
}
.header_title {
  cursor: pointer;
}
.title_text {
  color: #fff;
}
.header_right_content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.user_icon,
.user_info,
.user_home {
  height: 100%;
  border-radius: 19px;
  overflow: hidden;
}
.user_icon_content {
  margin: 0 auto;
}
