
.Search {
    padding-right: 15px
}

.searchButton {
    margin-top:-3px;
    margin-left: 10px;
}

.ant-form-inline {
    flex-wrap: nowrap;
}

.button_run {
    background-color: orange;
    border-color: orange;
}

.button_run:hover, .button_run:focus, .button_run:active {
    background-color: orange;
    border-color: orange;
}

.downdrop{
    margin-right: 24px;
}

.downdrop_time { 
    width: 300px;
    margin-right: 0px;
}
.space-button{
    margin-left: 25px;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .ant-collapse-content > .ant-collapse-content-box {
    padding-bottom: 0px;
  }
  