.codemirror {
  :global {
    .CodeMirror {
      /* Set height, width, borders, and global font properties here */
      font-family: monospace;
      direction: ltr;
      min-height: 600px;
    }
  }
}
