@import '~@/themes/index.less';

.tabBody {
  margin-bottom: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  :global {
    .ant-btn {
      color: #fff;
    }
  }
  .left {
    flex: 1;
    .basicBtn {
      background: @basic-color;
      border-color: @basic-color;
      &:hover {
        background: @basic-color-hover;
        border-color: @basic-color-hover;
      }
    }
    .successBtn {
      background: @success-color;
      border-color: @success-color;
      &:hover {
        background: @success-color-hover;
        border-color: @success-color-hover;
      }
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    .cancelBtn {
      background: @warn-color;
      border-color: @warn-color;
      &:hover {
        background: @warn-color-hover;
        border-color: @warn-color-hover;
      }
    }
  }
}

.debugResponse {
  padding-top: 10px;
  border-top: 2px solid #ddd;
  .topBtn {
    :global {
      .ant-btn {
        color: #fff;
      }
    }
    margin-bottom: 10px;
    .basicBtn {
      background: @basic-color;
      border-color: @basic-color;
      &:hover {
        background: @basic-color-hover;
        border-color: @basic-color-hover;
      }
    }
  }
  .tracebackTitle {
    font-weight: bold;
    font-style: 16px;
  }
}
