.topBtn {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
  .tableHeader {
    position: relative;
    left: -45%;
    text-align: center;
    width: 160px;
    .tableTitle {
      font-weight: bold;
      font-size: 20px;
      margin-right: 5px;
    }
  }
}
.actionColumn {
  max-width: 150px;
}
