@import '~@/themes/index.less';

.topBtn {
  :global {
    .ant-btn {
      color: #fff;
    }
  }
  margin-bottom: 10px;
  .cancelBtn {
    background: @warn-color;
    border-color: @warn-color;
    &:hover {
      background: @warn-color-hover;
      border-color: @warn-color-hover;
    }
    &.hidden {
      display: none;
    }
  }
  .basicBtn {
    background: @basic-color;
    border-color: @basic-color;
    &:hover {
      background: @basic-color-hover;
      border-color: @basic-color-hover;
    }
    &.hidden {
      display: none;
    }
  }
}

.content {
  margin-bottom: 10px;
  display: flex;
  .validate {
    .validateCollapse {
      min-width: 600px;
      .fail {
        :global {
          .ant-collapse-header {
            background-color: #ff7875;
          }
        }
      }
      span {
        font-weight: bold;
      }
    }
    &.hidden {
      display: none;
    }
  }
}

.responseTree {
  :global {
    .ant-tree-title {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      @media (max-width: 1600px) {
        max-width: 800px;
      }
      @media (min-width: 1600px) {
        max-width: 1300px;
      }
    }
  }
}
