.title {
  background: rgb(121, 242, 157);
}
.layout {
  display: flex;
  flex-direction: row;
}
.padding {
  padding: 0 24px;
}
.flex {
  display: flex;
}
.iconFontSize {
  font-size: 22px;
}
.pageHeaderPadding {
  padding: 25px 24px 20px;
}
