@import '~@/styles/global.less';

// .title {
//   background: rgb(121, 242, 157);
// }
.layout {
  display: flex;
  flex-direction: row;
}
.LayoutPadding {
  position: relative;
  top: 50px;
  max-width: 1670px;
  padding: 0px 24px 24px;
  min-height: 850px;
}
.flex {
  display: flex;
}
.iconFontSize {
  font-size: 22px;
}
.pageHeaderPadding {
  position: fixed;
  z-index: 999;
  width: 1622px;
  padding: 0px;
  background-color: #f0f2f5;
}
