.title {
  background: rgb(121, 242, 157);
}
.layout {
  display: flex;
  flex-direction: row;
}
.padding {
  padding: 0 24px;
}
.LayoutPadding {
  position: relative;
  left: 200px;
  top: 64px;
  padding: 25px 24px 24px;
  max-width: 1700px;
}
.flex {
  display: flex;
}
.iconFontSize {
  font-size: 20px;
}
.pageHeaderPadding {
  padding: 0 0 10px 0;
}
